body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(92,9,121,1) 35%, rgba(0,212,255,1) 100%);
  font-style: italic;
  font-family: 'Courier New', Courier, monospace;
}

div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

label {
  margin-right: 10px;
}

.title {
  background: rgba(2,0,36,1);
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  padding: 17px;
  border-radius: 20px;
  width: 50%;
  color: whitesmoke;
}